
{{- with .Site.Params.homeBanner }}

    <p>{{.}}</p>
    <p>Sou <a href="https://valdecir.me" target="_blank">Valdecir Carvalho</a>, e iniciei este espaço para <strong>documentar</strong> e <strong>compartilhar</strong> minha jornada de aprendizado em inteligência artificial.</p>
    <p>Este é um projeto aberto e em constante evolução. Convido você a contribuir com experiências, sugestões e, claro, a acompanhar as atualizações. </p> 
    <p>Independente do seu nível de conhecimento, o ABC da IA oferece um espaço para crescermos juntos.</p>
    <p><em>Esse é um trabalho, <strong>colaborativo</strong>, <strong>em construção</strong> e <strong>em constante atualização</strong>, então fique a vontade para contribuir com o projeto da maneira que quiser, toda a ajuda é bem vinda!</em></p>

{{- end }}
