{{ define "body" }}
    {{ if .Site.Params.backgroundEffects }}
    <body class="{{ if .Site.Params.backgroundImage }} bg" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
    {{ else }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
    {{ end }}
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>{{ .Site.Params.homeTitle }}</h1>
            {{ partial "subtitle.html" . }}
 
<!-- Start Posts -->
{{ if .Site.Params.showPosts }}
    {{ $featuredPages := where .Site.RegularPages "Params.featured" true }}
    <div class="posts">
        {{ range $featuredPages }}
            <div class="post on-list">
                <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                {{ if .Date }}
                    <div class="post-meta">{{ .Date.Format "2006-01-02" }}</div>
                {{ end }}
                <div class="post-content">{{ .Summary }}</div>
                <a class="read-more" href="{{ .Permalink }}">Read More →</a>
            </div>
        {{ else }}
            <div>No featured posts found.</div>
        {{ end }}
    </div>
{{ end }}
<!-- End Posts -->




 
        <!-- Social Icons -->
        {{ if .Site.Params.socialIcons }}
        <div class="content">
            <ul class="icons">
            {{- with .Site.Params.social }}
             {{ partial "social.html" . }}
            {{- end }}
            </ul>
        </div>
        {{ end }}
        <!-- End Social Icons-->
        </div>

    </main>
{{ end }}
